label {
  margin: 0 20px;
}

legend {
  font-size: 20px;
}

#users-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field-container {
  margin: 20px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.group-container {
  margin: 20px;
  max-width: 70%;
  min-width: 30%;
}
.btn-group {
  display: flex;
  justify-content: space-evenly; 
  width: 50%;
  padding: 20px;
}


.btn-group button {
  font-size: 16px; 
  padding: 8px 16px; 
  margin: 0 10px; 
  flex-grow: 0; 
}
